<div class="row">
    <div class="col">
        <a href="https://store.steampowered.com/app/1928030/Rightfully_Beary_Arms/"><img src="/logos/steam-white.png"/></a>
    </div>
    <div class="col">
        <a href="https://www.xbox.com/en-SG/games/store/rightfully-beary-arms/9pd98sxj63k0"><img src="/logos/XboxSeriesXS_2020_stack_Wht_RGB.png"/></a>
    </div>
    <div class="col">
        <a href="https://store.epicgames.com/en-US/p/rightfullybearyarms-3162bb"><img src="/logos/EGS-Logotype-2023-Vertical-White.png"/></a>
    </div>
    <div class="col">
        <a href="https://www.humblebundle.com/store/rightfully-beary-arms?srsltid=AfmBOop9QH8anHwBUBWxF9_X5vTPqcOUPe8cTYeV7w8bsYlgwWfbC53S"><img src="/logos/h-square-white.png"/></a>
    </div>
</div>
<!--
[![Steam](/logos/steam-white.png)](https://store.steampowered.com/app/1928030/Rightfully_Beary_Arms/)
[![XBOX](/logos/XboxSeriesXS_2020_stack_Wht_RGB.png)](https://www.xbox.com/en-SG/games/store/rightfully-beary-arms/9pd98sxj63k0)
[![Epic](/logos/EGS-Logotype-2023-Vertical-White.png)](https://store.epicgames.com/en-US/p/rightfullybearyarms-3162bb)
[![Humble](/logos/h-square-white.png)](https://www.humblebundle.com/store/rightfully-beary-arms?srsltid=AfmBOop9QH8anHwBUBWxF9_X5vTPqcOUPe8cTYeV7w8bsYlgwWfbC53S)
-->